In [1]:
# Importamos la librería pandas
import pandas as pd

In [4]:

# Creamos tabla# Cream 
tabla = pd.DataFrame(columns=['ret', '1+ret', 'cumm'], index=range(1,6))
tabla.index.name = 'year'
tabla['ret']=[-0.1189,-0.2210,0.2869,0.1088,0.0491]
# Llenar celdas faltantes
tabla['1+ret']=1+tabla['ret']
tabla['cumm']=tabla['1+ret'].cumprod()

tabla.round(4)

         ret   1+ret    cumm
year
1    -0.1189  0.8811  0.8811
2    -0.2210  0.7790  0.6864
3     0.2869  1.2869  0.8833
4     0.1088  1.1088  0.9794
5     0.0491  1.0491  1.0275

In [5]:
# 1) ¿Cuál es el rendimiento en el periodo de tenencia de los cinco años?
r15=tabla.loc[5,'cumm']-1
r15

0.027489906009996234

In [9]:
# 2) ¿Cuál es el rendimiento promedio anual a través de los cinco años?
rg = tabla.loc[5,'cumm']**(1/5)-1
rg

0.0054385039627222742

In [16]:
# Creamos tabla
tabla2 = pd.DataFrame(columns=['prob', 'price', 'div', 'ret'], index=['excellent', 'good', 'poor', 'crash'])
tabla2.index.name = 'state'
tabla2['prob']=[0.25,0.45,0.25,0.05]
tabla2['price']=[126.50,110.00,89.75,46.00]
tabla2['div']=[4.50,4.00,3.50,2.00]
# Llenar celdas faltantes
tabla2['ret']=(tabla2['price']+tabla2['div']-100)/10 #ret = rendimiento
 
tabla2.round(2)

           prob   price  div   ret
state
excellent  0.25  126.50  4.5  3.10
good       0.45  110.00  4.0  1.40
poor       0.25   89.75  3.5 -0.68
crash      0.05   46.00  2.0 -5.20

In [20]:
import numpy as np

In [21]:
# Calcular el rendimiento esperado (promedio ponderado)

E_r = sum(tabla2['prob']*tabla2['ret'])
np.round(E_r,4)

0.97619999999999996

In [22]:
tabla.round(4)

         ret   1+ret    cumm
year
1    -0.1189  0.8811  0.8811
2    -0.2210  0.7790  0.6864
3     0.2869  1.2869  0.8833
4     0.1088  1.1088  0.9794
5     0.0491  1.0491  1.0275

In [23]:
E_r = tabla['ret'].mean()
E_r

0.02098

In [24]:
# Creamos tabla
tabla3 = pd.DataFrame(columns=['price', 'ret'], index=[0.25, 0.5, 0.25])
tabla3.index.name = 'prob'
tabla3['price']=[140,110,80]
tabla3['ret']=(tabla3['price']-100)/100

tabla3.round(2)

      price  ret
prob
0.25    140  0.4
0.50    110  0.1
0.25     80 -0.2

In [29]:
#Calculamos el renidmiento esperado
E_r = sum(tabla3.index*tabla3.ret)
E_r

0.10000000000000002

In [33]:
#Calculamos la varianza
Var_r = sum(tabla3.index*(tabla3.ret-E_r)**2)
Var_r

0.045000000000000005

In [37]:
#Calcular volatilidad
Std_r=np.sqrt(Var_r)
Std_r

0.21213203435596428