In [1]:

# Importamos la librer√≠a pandas# Impor 
import pandas as pd

In [6]:

# Creamos tabla# Cream 
tabla = pd.DataFrame(columns=['ret', '1+ret', 'cumm'], index=range(1,6))
tabla.index.name = 'year'
tabla['ret']=[-0.10,-0.20,0.30,0.20,0.15]
# Llenar celdas faltantes
tabla['1+ret']=1+tabla['ret']
tabla['cumm']=tabla['1+ret'].cumprod()

tabla.round(4)

       ret  1+ret    cumm
year
1    -0.10   0.90  0.9000
2    -0.20   0.80  0.7200
3     0.30   1.30  0.9360
4     0.20   1.20  1.1232
5     0.15   1.15  1.2917

In [7]:

# Respuesta a la pregunta 1# Respu 
r15=tabla.loc[5,'cumm']-1
r15

0.29168000000000016

In [9]:

# Creamos tabla
tabla2 = pd.DataFrame(columns=['prob', 'price', 'div', 'ret'], index=['excellent', 'good', 'poor', 'crash'])
tabla2.index.name = 'state'
tabla2['prob']=[0.25,0.45,0.25,0.05]
tabla2['price']=[126.50,110.00,89.75,46.00]
tabla2['div']=[4.50,4.00,3.50,2.00]
# Llenar celdas faltantes
tabla2['ret']=(tabla2['price']+tabla2['div']-100)/100

tabla2.round(2)

           prob   price  div   ret
state
excellent  0.25  126.50  4.5  0.31
good       0.45  110.00  4.0  0.14
poor       0.25   89.75  3.5 -0.07
crash      0.05   46.00  2.0 -0.52

In [10]:
E_r = sum(tabla2['prob']*tabla2['ret'])
np.round(E_r,4)

NameError: name 'np' is not defined